{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% block content %}
<div class="container all">
    <div class="card">
        <h3 class="card-header">All Polls</h3>
    <div class="card-body">
        {% if polls %}
        {% for poll in polls %}
        <h5 class="quiz">
            {{ poll.question }}
            <span class="buttons">
                <a href="{% url 'vote' poll.id %}" class="btn btn-outline-primary">View Poll</a>
                <a href="{% url 'results' poll.id %}" class="btn btn-outline-primary">View Results</a>
            </span>
        </h5>
        <hr>
        {% endfor %}
        {% else %}
        <h5>No polls at the moment</h5>
        {% endif %}
        <br>
        
    </div>
    </div>
</div>

{% endblock %}

