body{
    background-color: aliceblue;
    font-family: 'Poppins', sans-serif;

}
.all{
    
    width: 75%;
    margin: auto;
    margin-top: 2%;
}
.card-body .quiz{
    display: flex;
    justify-content: space-between;
}