body{
    background-color: aliceblue;
    font-family: 'Poppins', sans-serif;

}
.all{
    width: 75%;
    margin: auto;
    margin-top: 2%;
}
.card-body .quiz{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.here {
    width: 50%;
    margin: auto;
}

.signup-content {
padding: 75px 0; }

.signup-form, .signin-form {
width: 50%;
overflow: hidden; 
}

.form-title {
margin-bottom: 33px; 
}
p {
margin-bottom: 0px;
font-size: 15px;
color: #777; }

h2 {
line-height: 1.66;
margin: 0;
padding: 0;
font-weight: bold;
color: #222;
font-family: Poppins;
font-size: 36px; 
}


.signup-form {
margin-left: 75px;
margin-right: 75px;
padding-left: 34px; }

.register-form {
width: 100%; 
}

.form-group {
position: relative;
margin-bottom: 25px;
overflow: hidden; 
}
.form-group:last-child {
    margin-bottom: 0px; 
}

